/AbstractFactory/bin/
/AbstractFactory/obj
/AbstractFactoryPattern/bin
/AbstractFactoryPattern/obj
/AdapterPattern/bin
/AdapterPattern/obj
/BridgePattern/obj
/Builder/obj
/BridgePattern/bin
/BuilderPattern/bin
/BuilderPattern/obj
/ChainOfResponsibilityPattern/obj
/ChainOfResponsibilityPattern/bin
/CommandPattern/bin
/CommandPattern/obj
/CompositePattern/bin
/CompositePattern/obj
/FactoryPattern/obj
/DecoratorPattern/bin
/DecoratorPattern/obj
/FacadePattern/obj
/FactoryMethod/obj
/FactoryPattern/bin
/FactoryMethod/bin
/FilterPattern/obj
/FlyweightPattern/obj
/FlyweightPattern/bin
/IteratorPattern/obj
/InterpreterPattern/obj
/FilterPattern/bin
/InterpreterPattern/bin
/MediatorPattern/obj
/IteratorPattern/bin
/Builder/bin
/MediatorPattern/bin
/MementoPattern/obj
/MementoPattern/bin
/NullObjectPattern/bin
/NullObjectPattern/obj
/ProxyPattern/bin
/ObserverPattern/bin
/ObserverPattern/obj
/PrototypePattern/obj
/PrototypePattern/bin
/SingletonPattern/obj
/ProxyPattern/obj
/VisitorPattern/obj
/VisitorPattern/bin
/TemplatePattern/obj
/TemplatePattern/bin
/StrategyPattern/obj
/StrategyPattern/bin
/StatePattern/obj
/StatePattern/bin
/SingletonPattern/bin
